@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-900: #f9f5ff;
  --main-800: #42307d;
  --main-700: #ece2fa;
  --main-600: #6941c6;
  --main-500: #e9d7fe;

  --dark-900: #667085;
  --dark-800: #667085;
}
